/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Custom CSS */
/* Navbar */
.navbar-brand{    
	margin: auto;
	font-family: 'Raleway',sans-serif;
	font-weight: 600;
	font-size: 48px !important;
	padding-top: 12px;
	padding-bottom: 14px;
	color: #9CCD62 !important; 
}


/* Jumbotron */
.jumbotron{
	text-align: center;		
	position: relative;	
}

.jumbotron h1{
	width: 716px;
	font-family: 'Raleway',sans-serif;
	font-weight: 700;
	font-size: 60px;
	color: #F7F8E2 !important; 
	line-height: 70px;
}

.jumbotron img{        
	width: 100%;
	filter: brightness(0.6);	
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}



/* Search */
.form-group {
	width: 100% ;
	justify-content: center;
	margin-top: 45px;
}

.onerow {
	display: flex;	
}

.form-control{
	width: 656px !important;
	height: 41px;
	border-radius: 50px !important;	
	margin-right: 15px;
}

.search button{        
	font-family: 'Roboto',sans-serif;
	font-size: 18px;
	border-radius: 50px;
	padding: 10px 54px 10px 54px;
	color: white;
	background-color: #9CCD62;
	border: none;
}



/* Result */
.result{
	margin-top: 65px;
}

.hasil{
	font-family: 'Raleway',sans-serif;
	font-weight: bold;	
	font-size: 24px;
	line-height: 28px;
	color: #9CCD62;
	margin-bottom: 55px;
}


/* Card */
.card{
	background-color: #3A3C42;
	border: none;
	border-radius: 10px !important;
	height: 205px;	
	margin-bottom: 50px;	
}

.card-text{
	font-family: 'Roboto',sans-serif;
	font-size: 18px;
	color: #9CCD62 !important;
	font-weight: 700;
	text-align: left;
}

.card button{	
	background-color: #9CCD62;
	border-radius: 10px;
	border: none;
	font-family: 'Roboto',sans-serif;
	font-weight: bold;
	color: black;
	margin-top: -10px;
	margin-right: -30px;
}


/* Footer */
.footer{
	font-family: 'Raleway', sans-serif;
	background-color: #DFDECA;
	color: #3A3C42;
	font-size: 24px;	
	padding-top: 35px;
	padding-bottom: 34px;
}

@media (max-width: 768px) {
	
	/* Navbar */
	.navbar-brand{
		font-size: 36px !important;
	}	

	/* Jumbotron */
	.jumbotron h1{		    
		width: 400px;    
		font-size: 48px; 
		line-height: 50px ;
	}
	.jumbotron{
		margin-top: 0px;		
	}


	/* Card */	
	.card button{			
		margin-top: -40px;
		margin-right: -150px;
	}
	
}

@media (min-width: 320px) and (max-width:767px){

	/* Jumbotron */
	.jumbotron h1{
		width: 300px;
		font-size: 26px !important;
		line-height: 30px;
		margin-top: 15px;		
	}
	.jumbotron img{
		margin-top: 40px;
	}

	/* Search  */
	.form-group{
		text-align: center;
	}
	.form-control{

		margin: auto;
		width: 300px !important;
		margin-bottom: 15px;
	}
	

	.search button{        		
		font-size: 16px;		
		padding: -10px -15px !important;	
		margin-bottom: 20px;	
	}

	.footer{
		font-size: 16px;
	}

	.onerow{
		display: inherit;
	}
}